 table, th, td {
        border: 2px solid #087e8b;
        color:#37392E;
        width: 700px;
        padding: 8px;
        text-align: left;
    }

h1  {
        color:#19647E;
        text-align: center;
        margin-bottom: 5%;
    }
    
.create{
         align-items: center;
         display: flex; 
         flex-direction: column; 
         justify-content:center; 
         
         
    }

.input{
        height: 40px;
        width:400px;
        
    }

.input:hover{
        border-radius: 4px;
        border-color:#28afb0;
        box-shadow: 0 0 5px #28afb0
    }

.input:focus {
    border-color: #28afb0;
    outline: none;
    }

button:hover{
        border-color:#28afb0 ;
    }

a{
        text-decoration: none;
        color:#37392E;
 }

.label{
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;  
        color:#37392E;;
    }
#div2 {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 20px auto;
  
}


#div2 select,
#div2 input[type="text"] {
  padding: 5px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 140px;
}

    
#div2 form {
  display: flex;
  align-items: center;
  gap: 10px;
  
  flex-wrap: nowrap;
}

#div2 form label {
  white-space: nowrap; 
  font-size: 13px;
}

