 table, th, td {
        border: 2px solid #087e8b;
        color:#37392E;
        width: 700px;
        padding: 8px;
        text-align: left;
    }

h1  {
        color:#19647E;
        text-align: center;
        margin-bottom: 5%;
    }
    
div{
         align-items: center;
         display: flex; 
         flex-direction: column; 
         justify-content:center; 
         height: 100vh;
         
    }

.input{
        height: 40px;
        width:400px;
        
    }

.input:hover{
        border-radius: 4px;
        border-color:#28afb0;
        box-shadow: 0 0 5px #28afb0
    }

.input:focus {
    border-color: #28afb0;
    outline: none;
    }

button:hover{
        border-color:#28afb0 ;
    }

a{
        text-decoration: none;
        color:#37392E;
 }

.label{
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;  
        color:#37392E;;
    }
    